.box{
  background-color: red;
}



h1{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 35px;
  margin-top: 0px;
}

.bg{
 margin-left: 50px;
}

img{
  width: 150px;
}

.btn{
  background-color: aqua;
}

.card{
  border: 5px solid red;
height: 300px;
  width: 300px;
}

.img{
  background-image: url('365.PNG');
}

.data{
  height: 570px;
  /* background-color: #eeeef3; */
  background-color: aqua;
  /* margin-bottom: 50px; */
  
}

body{
  background-color: white !important ;
}

.footer{
  display: flex;
  height: 100%;
  align-items: center;
  
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div2{
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer2{
  display: flex;
  justify-content: space-between;
  height: 80px;
}

h4{
  padding: 10px;
  display: block;
}

.nav{
  background-color: rgb(75, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
   height: "100px";
}

@media (max-width:600px) {
  /* body{
    background-color: white;
   
  } */
  img{
    width:65px;
  }

  .bg{
    margin-left: 30px;
   }
  .nav{
    display: flex;
    align-items: center;
    height: 65px;
  }

  /* h4{
    display: none;
  } */
  .footer2{
    display: none;
  }

  h1{
    font-weight: 800;
    font-size: 15px;
    margin-top: 0px;
  }
}



